@keyframes rippleShow {
  to {
    transform: scale(2.5);
  }
}

@keyframes iconAppearing {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

body, pre {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-origin: 0 0;
}

body, .chat-logo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.emoji-block, .file-block {
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-block:hover > i, .file-block:hover > i {
  color: #8378db;
}

.emoji-block > i, .file-block > i {
  transition: color .5s;
  color: #888;
  font-size: 30px;
}

.context-menu {
  transition: transform .5s, opacity .5s, top .5s, left .5s;
  position: absolute;
  width: 124px;
  height: 160px;
  background-color: #212121;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

.context-menu.active {
  transform: scale(1);
  opacity: 1;
}

.context-block {
  cursor: pointer;
  transition: background-color 0.5s;
  width: 100%;
  height: 48px;
  display: flex;
}

.context-block:hover {
  background-color: #2c2c2c;
}

.context-block:hover .context-icon > i, .context-block:hover .context-text > span {
  color: #fff;
}

.options {
  transition: z-index 0s 1s, filter 1s;
  position: absolute;
  margin-top: 70px;
  width: 100%;
  height: 174px;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
}

.options.active {
  transition: z-index 0s, filter 1s;
  z-index: 1;
}

.options.blurred {
  filter: blur(10px);
}

.inner-options {
  width: 242px;
  height: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-block {
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(0);
  opacity: 0;
  transform-origin: 100% 0;
  padding-top: 8px;
  width: 216px;
  height: 152px;
  background-color: #212121;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.options-block.active {
  transform: scale(1);
  opacity: 1;
}

.option {
  transition: background-color 0.5s;
  width: 100%;
  height: 48px;
  display: flex;
  background-color: #212121;
  cursor: pointer;
}

.option:hover {
  background-color: #2c2c2c;
}

.option:hover .option-icon > i, .option:hover .option-text > span {
  color: #fff;
}

.context-icon, .option-icon {
  width: 56px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.context-icon > i, .option-icon > i {
  transition: color 0.5s;
  color: #bbb;
  font-size: 30px;
}

.context-text, .option-text {
  width: calc(100% - 48px);
  height: 100%;
  display: flex;
  align-items: center;
}

.context-text > span, .option-text > span {
  transition: color 0.5s;
  color: #bbb;
  font-family: 'Montserrat', Arial;
  font-weight: 600;
  font-size: 15px;
}

header {
  transition: filter 1s;
  position: fixed;
  width: 100vw;
  height: 70px;
  background-color: #1b1b1b;
  display: flex;
  z-index: 2;
}

header.blurred {
  filter: blur(10px);
}

.chat-info {
  margin-left: 30px;
  width: 275px;
  height: 100%;
  display: flex;
  align-items: center;
}

.chat-logo {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #272727;
}

.chat-title {
  margin-left: 15px;
  width: 100%;
  max-width: 210px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-title > div {
  width: 100%;
  white-space: nowrap;
  font-family: Arial;
}

.chat-title > div:first-child {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.chat-title > div:last-child {
  color: #a6a6a6;
  font-weight: 500;
  font-size: 15px;
}

.chat-buttons {
  width: calc(100vw - 300px);
  min-width: 80px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.chat-buttons > div {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-buttons > div:last-child {
  margin-right: 10px;
}

.chat-buttons > div > i {
  color: #ababab;
  font-size: 25px;
  z-index: 2;
}

.chat-buttons > div > .ripple {
  background-color: #272727;
}

.ripple {
  transition: opacity 1s, z-index 0s 1s;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  opacity: .5;
  animation: rippleShow 2s forwards;
  z-index: 1;
}

.ripple.hide {
  transition: opacity 1s, z-index 0s 1s;
  opacity: 0;
  z-index: 0;
}

.shadow-block {
  transition: box-shadow 1s;
  position: absolute;
  top: 60px;
  width: 100vw;
  height: 10px;
  box-shadow: 0 0 10px 0 #000;
  z-index: 1;
}

.shadow-block.blurred {
  box-shadow: 0 0 0 #000;
}

main {
  transition: filter 1s;
  position: relative;
  top: 70px;
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.blurred {
  filter: blur(10px);
}

.online-block {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  background-color: #1b1b1b;
  border-top-right-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', Arial;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.write-message-block {
  width: 100vw;
  height: 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-top {
  width: 900px;
  height: 1px;
}

.write-message-content {
  width: 900px;
  height: calc(100% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-message-input {
  position: relative;
  width: 800px;
  min-height: 69.5px;
  border-radius: 15px 15px 0 15px;
  background-color: #1b1b1b;
  display: flex;
}

.write-message-input > textarea {
  width: 760px;
  height: 25px;
  padding-top: 22.5px;
  border: none;
  outline: none;
  resize: none;
  background-color: #1b1b1b;
  color: #fff;
  font-family: Arial;
  font-weight: 400;
  font-size: 20px;
}

.write-message-input > textarea::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 0;
}

.write-message-input > textarea::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #323232;
  border-radius: 2.5px;
}

.write-message-input > textarea::placeholder {
  color: #9aa8b1;
  font-family: Arial;
  font-weight: 400;
  font-size: 20px;
}

.file-block {
  position: relative;
}

.file-block > label {
  position: absolute;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.file-block > label > input {
  display: none;
}

.write-message-el {
  position: relative;
  width: 10px;
  min-height: 69.5px;
  display: flex;
  align-items: flex-end;
}

.write-message-el > svg {
  width: 100%;
  height: 17px;
  fill: #1b1b1b !important;
}

.write-message-last {
  width: 70px;
  min-height: 69.5px;
  display: flex;
  border-radius: 50%;
  justify-content: flex-start;
}

.inner-write-message-last {
  transition: background-color .5s;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #1b1b1b;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-write-message-last:hover {
  background-color: #8378db;
}

.inner-write-message-last:hover > i {
  color: #fff;
}

.inner-write-message-last > i {
  transition: color .5s;
  color: #5a6063;
  font-size: 30px;
  animation: iconAppearing 0.25s linear forwards;
  z-index: 2;
}

.grecaptcha-badge {
  display: none;
}

.pop-up {
  transition: opacity 1s, z-index 0s 1s;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 0;
}

.pop-up.active {
  transition: opacity 1s, z-index 0s;
  opacity: 1;
  z-index: 2;
}

.pop-up-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.pop-up-content {
  width: 500px;
  height: 250px;
  background-color: #1f2326;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.pop-up-title {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-title > i {
  transition: color .2s;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #4e585f;
  cursor: pointer;
  font-size: 25px;
}

.pop-up-title > i:hover {
  color: #6c7880;
}

.pop-up-title > span {
  text-align: center;
  color: #eee;
  font-family: 'Montserrat', Arial;
  font-weight: 600;
  font-size: 36px;
}

.pop-up-options {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-options > * {
  height: 60px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.pop-up-options > div {
  width: 37.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pop-up-options > div > div {
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-options > div > div > .ripple {
  background-color: #363636;
}

.pop-up-options > div > div > i {
  transition: color .2s;
  color: #eee;
  font-size: 60px;
  z-index: 2;
}

.pop-up-options > div > div > i:hover {
  color: #fff;
}

.password {
  transition: background-color .5s, color .5s;
  width: calc(100% - 125px);
  background-color: #36393c;
  padding: 0 15px;
  font-family: 'Montserrat', Arial;
  font-weight: 500;
  font-size: 25px;
  color: #eee;
}

.password::placeholder {
  transition: color .5s;
  font-family: 'Montserrat', Arial;
  font-weight: 500;
  font-size: 25px;
  color: #999;
}

.password.wrong {
  background-color: #ff8080;
  color: #aa1010;
}

.password.wrong::placeholder {
  color: #661010;
}

.password-button {
  transition: background-color .5s, color .5s;
  margin-left: 15px;
  cursor: pointer;
  width: 70px;
  background-color: #00783c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-button:hover {
  background-color: #00964b;
  color: #002814;
}

.password-button > span {
  font-family: 'Montserrat', Arial;
  font-weight: 500;
  font-size: 25px;
  color: #002010;
}

.messages {
  width: 100%;
  height: calc(100vh - 176px);
  scroll-behavior: smooth;
  overflow: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 0;
}

.messages::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #212121;
  border-radius: 3.5px;
}

.message-block {
  margin-top: 12px;
  width: 100%;
  max-width: 900px;
  display: flex;
}

.message-block > a, .message-block img, .message-block video {
  outline: none;
  width: 450px;
  border-radius: 10px;
}

.video-block {
  position: relative;
  width: 450px;
  border-radius: 10px;
}

.audio-block {
  width: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.audio-block > audio {
  margin-bottom: 10px;
}

.message:not(.image-link):not(.video-block):not(.audio-block) {
  width: auto;
  max-width: 430px;
  height: auto;
  padding: 10px 10px 5px 10px;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  overflow: overlay;
}

.message:not(.image-link):not(.video-block):not(.audio-block)::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 7px;
}

.message:not(.image-link):not(.video-block):not(.audio-block)::-webkit-scrollbar-thumb {
  height: 7px;
  background-color: #323232;
  border-radius: 3.5px;
}

.message-picture {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.inner-message-picture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.message-el {
  position: relative;
  width: 10px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.message-el > svg {
  width: 100%;
  height: 17px;
  fill: #1b1b1b !important;
}

.message-author {
  margin-bottom: 5px;
  color: #a695e7;
  font-family: 'Montserrat', Arial;
  font-weight: 600;
  font-size: 14px;
  white-space: pre-wrap;
}

.message-text > pre, .message-text a {
  color: #fff;
  font-family: 'Montserrat', Arial;
  font-weight: 500;
  font-size: 18px;
  white-space: pre-wrap;
}

.text-pubdate-block {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-pubdate-block > span {
  color: #505050;
  font-family: 'Montserrat', Arial;
  font-weight: 600;
  font-size: 13px;
}

.image-link {
  position: relative;
}

.file-pubdate-block {
  position: absolute;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px 6px;
  border-radius: 8px;
  font-family: 'Montserrat', Arial;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.message-alert {
  margin: 24px 0 12px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.message-alert.fixed {
  transition: opacity .5s;
  position: fixed;
}

.inner-message-alert {
  min-width: 70px;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 24px;
  color: #fff;
  font-family: 'Montserrat', Arial;
  font-weight: 600;
  font-size: 15px;
}

.scroll-down-block {
  transition: bottom .2s, opacity .2s, background-color .5s, z-index 0s .2s;
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: #1b1b1b;
  border-radius: 35px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down-block.active {
  transition: bottom .2s, opacity .2s, background-color .5s;
  bottom: 120px;
  opacity: 1;
  z-index: 0;
}

.scroll-down-block:hover {
  background-color: #8378db;
}

.scroll-down-block:hover > i {
  color: #fff;
}

.scroll-down-block > i {
  transition: color .5s;
  color: #5a6063;
  font-size: 30px;
}

@media screen and (max-width: 880px) {
  .messages {
    overflow-x: hidden;
  }
  .write-message-content {
    width: 100vw;
  }
  textarea {
    width: calc(100% - 140px) !important;
  }
}

@media screen and (max-width: 1080px) {
  .online-block {
    display: none;
  }
}
